* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Sección barra de navegación */

nav {
  position: relative;
  z-index: 1;
}

.navbar-menu {
  background: #000000;
  height: 50px;
  width: 100%;
  position: fixed;
}

.logo {
  position: absolute;
  color: #ffffff;
  font-size: 30px;
  top: 8px;
  left: 5%;
  font-weight: bold;
}

.navbar-menu ul {
  float: right;
  margin-right: 20px;
  list-style: none;
}

.nav-options li {
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
}

.nav-options li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px 10px;
  position: relative;
  border-radius: 3px;
}

a:focus,
a:hover {
  background-color: #387acf;
  transition: 0.5s;
}

#check {
  display: none;
}

.checkbtn {
  font-size: 25px;
  float: right;
  color: white;
  line-height: 50px;
  margin-right: 25px;
  cursor: pointer;
  display: none;
}

section {
  width: 100%;
}

/* Sección Banner */
.banner {
  height: 97vh;
  background-color: blue;
  position: relative;
}

.banner-text {
  position: absolute;
  color: black;
  top: 37%;
  left: 50%;
  transform: translateX(0) translateY(-45%);
}

.banner-text h2 {
  font-size: 45px;
}

.banner-text a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 7px;
  margin-top: 10px;
  border: 3px solid black;
  width: 100px;
}

.banner-text a:hover {
  background-color: #f5f2f2;
  color: black;
}

.banner-content img {
  margin: 5px 0px;
  width: 100%;
}

/* Sección Servicios */
.about {
  height: 97vh;
  position: relative;
  background: #302d2d;
  color: #f5f2f2;
}

.about-img {
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 0 50px;
}

.about-imgx {
  width: 33%;
  float: left;
}

.img-job {
  width: 280px;
  height: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

.about-content {
  width: 100%;
  hyphens: 100%;
  padding: 30px 0;
  text-align: center;
}

.about-content h2 {
  font-size: 45px;
  text-transform: uppercase;
}

.about-content p,
.about-content h2 {
  padding: 10px 50px;
}

/* Sección Clientes */
.testimonios {
  height: 97vh;
  position: relative;
  background: url(img/fondo-clientes.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #f5f2f2;
}

.testimonios-content {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  text-align: center;
}

.testimonios-content h2 {
  font-size: 45px;
  text-transform: uppercase;
}

.testimonios-content p,
.testimonios-content h2 {
  padding: 10px 50px;
}

.testimonios-group {
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 0px 50px;
}

.testimonios-card {
  width: 33%;
}

.testimonios-card {
  width: 33%;
  float: left;
}

.img-perfil {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid white;
}

/* Sección Contacto */
.contacto {
  height: 97vh;
  position: relative;
}

.contacto-content {
  width: 100%;
  height: 100%;
  padding: 40px 0px;
  text-align: center;
}

.contacto-img img {
  width: 80%;
  display: block;
  margin: auto;
}

.contacto-content h2 {
  font-size: 45px;
  text-transform: uppercase;
}

.contacto-content p,
.contacto-content p {
  padding: 10px 50px;
}

.contacto-group {
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 0px 50px;
}

.form-contact {
  width: 50%;
  float: left;
}

.contacto-img {
  width: 50%;
  float: left;
}

.form-control {
  width: 85%;
  padding: 0.8rem;
  margin: 0.6rem 1rem;
  display: block;
  font-size: 1rem;
  outline: 0;
  border-radius: 5px;
  border: 1.5px solid #c7c7c7;
}

.send-btn {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  background: #eb54c6;
  color: #ffffff;
  border: none;
  padding: 0.7rem 1.7rem;
  margin: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4ms ease;
}

/* Sección Footer */
footer {
  position: relative;
}

.footer a {
  position: relative;
}

.footer {
  height: 10vh;
  background: #000000;
  color: #ffffff;
}

.social {
  width: 50%;
  float: left;
  margin-top: 20px;
  text-align: center;
}

.copr {
  width: 50%;
  float: left;
  margin-top: 20px;
  text-align: left;
  color: white;
}

.social label a {
  color: #ffffff;
}

.social label i {
  font-size: 30px;
  padding: 0 10px;
}

.fa-facebook:hover {
  transform: translateY(-3px) scale(1.05);
  transition: 0.2s;
  background-color: #3b5999;
  color: #000000;
}

.fa-instagram:hover {
  transform: translateY(-3px) scale(1.05);
  transition: 0.2s;
  background-color: #e4405f;
  color: #000000;
}

.fa-twitter:hover {
  transform: translateY(-3px) scale(1.05);
  transition: 0.2s;
  background-color: #55acee;
  color: #000000;
}

.fa-google:hover {
  transform: translateY(-3px) scale(1.05);
  transition: 0.2s;
  background-color: #ffffff;
  color: #000000;
}

/* Área Responsive */
@media (max-width: 1024px) {
  .logo {
    padding-left: 40px;
  }

  .nav-options li a {
    font-size: 16px;
    padding: 7px 10px;
  }

  .banner {
    height: 89vh;
  }

  .banner-content img {
    margin-top: 50px;
    width: 100%;
  }

  .about,
  .testimonios,
  .contacto {
    height: 100vh;
  }

  .img-job {
    width: 210px;
    height: 210px;
  }

  .testimonios-card p {
    font-size: 13px;
  }

  .img-perfil {
    width: 150px;
    height: 150px;
  }

  .form-control {
    width: 75%;
    padding: 0.3rem;
    margin: 0.6rem 1rem;
  }

  .send-btn {
    font-size: 0.8rem;
  }

  .footer {
    height: 15vh;
  }

  .social {
    width: 100%;
  }

  .copr {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .social label i {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }

  .nav-options {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #21427f;
    top: 50px;
    text-align: center;
    left: -100%;
    transition: 0.5s;
  }

  .nav-options li {
    display: block;
    border-bottom: 1px solid #f4f0f0;
    z-index: 1;
  }

  .nav-options li a {
    font-size: 18px;
  }

  nav li:hover {
    background-color: #eeeaea;
  }

  nav li a:hover {
    background-color: #2f2e2e;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .banner {
    height: 55vh;
  }

  .banner-content img {
    margin-top: 50px;
    width: 100%;
  }
  
  .banner-text h2 {
    font-size: 30px;
  }

  .banner-text p {
    font-size: 14px;
  }

  .banner-text a {
    font-size: 14px;
    width: 60px;
  }

  .about,
  .testimonios,
  .contacto {
    height: 165vh;
  }

  .about-content h2,
  .testimonios-content h2,
  .contacto-content h2 {
    font-size: 35px;
  }

  .about-imgx {
    width: 100%;
    margin-bottom: 20px;
  }

  .testimonios-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .form-contact,
  .contacto-img {
    width: 100%;
    margin-bottom: 20px;
  }

  .form-control,
  .send-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .send-btn {
    width: 77%;
  }

  .copr p {
    font-size: 14px;
  }
}
